<div class="container app">
  <div class="row">
    <div class="col-md-8">
        <h1 class="text-center">{{title}}</h1>
    </div>
    <div col-md-4>
      <div class="alert alert-success alert-dismissable">
        <a href="" class="close">
          &times;
        </a>
        mensaje aqui
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
        <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="col-md-8">
      <h2>Crear Datos:</h2>
      <form action="form-horizontal">
        <div class="form-group">
          <label for="nombre" class="control-label ">
            Nombre:
          </label>
          <input type="text" class="form-control col-md-9" id="nombre" name="nombre" [(ngModel)]="model.nombre" placeholder="Agregue su nombre">
        </div>
        <div class="form-group">
          <label for="cargo" class="control-label">
            Cargo:
          </label>
          <input type="text" class="form-control col-md-9" id="cargo" name="cargo" [(ngModel)]="model.cargo" placeholder="Agregue su cargo">
        </div>
        <div class="form-group">
            <label for="email" class="control-label">
              Email:
            </label>
            <input type="email" class="form-control col-md-9" id="email" name="email" [(ngModel)]="model.email" placeholder="Agregue su email">
        </div>

        <div class="form-group">
          <div class="col-md-3 offset-md-3">
            <button type="submit" class="btn btn-success" (click)="addEmpleado()">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
      
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Datos de tabla</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>email</th>
            <th>Accion</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let empleado of empleados; let i = index">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.cargo}}</td>
            <td>{{empleado.email}}</td>
            <td>
              <a (click)="editEmpleado(i)" class="btn btn-success">
                Editar
              </a>
              <a (click)="deleteEmpleado(i)" class="btn btn-danger">
                Borrar
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>

  
</div>
  

